@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    padding: 0;

    font-size: clamp($fontTextMinimum, 1vw , $fontTextMaximum) !important;
    font-family: "Roboto";

    h1 , h2, h3, h4, h5, h6{
        font-family: "Montserrat";
        margin: 0;
    }

    p{
        margin: 0;
    }
}

.container{
    width: 100%;
    max-width: 320px;

    margin-left: auto;
    margin-right: auto;
}

.app__container{
    height: 100vh;
}